[submodule "spring-webflux-caching-with-redis"]
	path = spring-webflux-caching-with-redis
	url = git@github.com:TokhirAsadov/spring-webflux-caching-with-redis.git
[submodule "spring-redis-performance"]
	path = spring-redis-performance
	url = git@github.com:TokhirAsadov/spring-redis-performance.git
